.btn {
  background-color: $accent-color;
  border: none;
  border-radius: 0.4rem;
  color: $accent-fg-color;
  cursor: pointer;
  font-weight: bold;
  min-height: 3.8rem;
  padding: 0.1rem 1.6rem;
}

.btn:hover {
  background-color: $accent-hover-color;
  color: $accent-fg-hover-color;
}
