.link-item {
  color: var(--v-secondaryText-base);
  cursor: pointer;
}

.link-item a {
  color: var(--v-secondaryText-base);
}

.link-item:hover {
  color: var(--v-primaryText-base);
  text-decoration: underline;
}
