.player-bar-wrapper {
  background-color: $player-bar-color;
  border-top: 0.1rem solid black;
  bottom: 0;
  height: $player-bar-height;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.player-bar {
  display: flex;
  height: 100%;
  flex: 1;
}

.player-bar__left {
  max-width: 10em;
  padding-left: $m-size;
  padding-right: $s-size;
  padding-top: $s-size;
}

.player-bar__artist-name {
  color: white;
}

.player-bar__song-name {
  color: white;
  font-weight: bold;
  margin-bottom: $s-size;
}

.player-bar__right {
  align-items: center;
  flex: 0 0 5rem;
  justify-content: flex-end;
  margin-right: $l-size;
}

.player-bar__center {
  align-items: center;
  flex: 1;
}

.player-bar__controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $s-size;
  margin-bottom: $m-size;
}

.player-bar__progress {
  align-items: center;
  width: 100%;
}

.progress-bar {
  background-color: #4d4d4d;
  border-radius: 0.15rem;
  flex: 1;
  height: 0.3rem;
}

.progress-bar__current-progress {
  background-color: $accent-color;
  border-radius: inherit;
  height: 100%;
}

@media (min-width: $bp-tablet-landscape) {
  .player-bar__progress {
    width: 60%;
  }

  .player-bar__left {
    max-width: none;
    flex: 0 0 $sidebar-width;
  }
}
