.player-bar-wrapper {
  background-color: $player-bar-color;
  border-top: 1px solid $black-color;
  bottom: 0;
  height: $player-bar-height;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.player-bar {
  display: flex;
  height: 100%;
  flex: 1;
}

.player-bar__left {
  padding-left: $m-size;
  padding-right: $s-size;
  padding-top: $s-size;
  flex: 0 0 $sidebar-width;
}

.player-bar__artist-name {
  color: white;
}

.player-bar__song-name {
  color: white;
  font-weight: bold;
  margin-bottom: $s-size;
}

.player-bar__right {
  flex: 0 0 20rem;
}

.player-bar__center {
  align-items: center;
  flex: 1;
  justify-content: center;
}

.player-bar__controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-bar__progress {
  width: 50%;
}

.player-bar__progress-bar {
  color: red;
  flex: 1;
}
