.search-bar {
  align-items: center;
  flex: 1;

  input {
    background-color: $bg-color;
    border: none;
    border-radius: 0.6rem;
    color: white;
    height: 100%;
    max-width: 45rem;
    outline: none;
    padding-left: $s-size;
    width: 95%;
    transition: background 0.25s ease;
  }

  & input:focus {
    background: white;
    color: $bg-color;
  }
}

@media (min-width: $bp-tablet-landscape) {
  .search-bar input {
    width: 70%;
  }
}
@media (min-width: $bp-tablet-landscape) {
  .brand {
    flex: 0 0 $sidebar-width;
  }

  .search-bar input {
    width: 50%;
  }
}
