.sidebar {
  background-color: $sidebar-color;
  flex: 0 0 $sidebar-width-collapsed;
}

.side-bar__song-artwork {
  display: none;
  height: $sidebar-width;
  width: $sidebar-width;
  position: fixed;
  bottom: $player-bar-height;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu-item {
  padding: $m-size;

  & a {
    color: $primary-text-color;
    text-decoration: none;
  }

  & a.router-link-exact-active {
    font-weight: bold;
    color: $accent-color;
  }
}

.router-link-exact-active .icon {
  fill: $accent-color;
}

.sidebar-menu-item__wrapper {
  align-items: center;
}

.sidebar-menu-item__text {
  display: none;
}

.sidebar-menu-item__icon {
  flex: 1;
}

.btn-logout {
  display: none;
}

@media (min-width: $bp-tablet-landscape) {
  .sidebar-menu-item__text {
    display: block;
  }

  .sidebar {
    flex: 0 0 $sidebar-width;
  }

  .sidebar-menu-item__icon {
    flex: none;
    margin-right: $m-size;
  }

  .btn-logout {
    display: block;
  }

  .side-bar__song-artwork {
    display: block;
  }
}
