.sidebar {
  background-color: $sidebar-color;
  flex: 0 0 $sidebar-width-collapsed;
}

.side-bar__song-artwork {
  display: none;
  height: $sidebar-width;
  width: $sidebar-width;
  position: fixed;
  bottom: $player-bar-height;
}

.sidebar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item-row {
  padding: 1.6rem 1.8rem;

  & a {
    color: $fg-color-6;
    text-decoration: none;
  }

  & a.router-link-exact-active {
    color: $fg-color-1;
  }
}

.menu__item {
  align-items: center;
}

.menu__item-text {
  display: none;
}

.menu__item-icon {
  flex: 1;
}

.btn-logout {
  display: none;
}

@media (min-width: $bp-tablet-landscape) {
  .menu__item-text {
    display: block;
  }

  .sidebar {
    flex: 0 0 $sidebar-width;
  }

  .menu__item-icon {
    flex: none;
    margin-right: $m-size;
  }

  .btn-logout {
    display: block;
  }

  .side-bar__song-artwork {
    display: block;
  }
}
