@media (min-width: 480px) {
  .song-collection {
    flex: 0 0 47%;
    margin-left: 2%;
  }
}

@media (min-width: 768px) {
  .song-collection {
    flex: 0 0 30.6666667%;
    margin-left: 2%;
  }
}

@media (min-width: 992px) {
  .song-collection {
    flex: 0 0 22.5%;
    margin-left: 2%;
  }
}
