.left-items {
  border-radius: 0.2rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 4rem;
}

.right-items {
  // flex: 0 0 5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.middle-items {
  flex-basis: 0;
}

.artist-name,
.album-name {
  color: var(--v-secondaryText-base);
}

.artist-name a,
.album-name a {
  color: var(--v-secondaryText-base);
}

.artist-name a:hover,
.album-name a:hover {
  color: var(--v-primaryText-base);
  text-decoration: underline;
}
