.song-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 1px solid $divider-color;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    .song-item__menu {
      opacity: 1;
    }
    .track-number {
      opacity: 0;
    }
    background-color: $black-color-0-5;
  }
}

.song-item__left {
  border-radius: 0.2rem;
  flex-basis: none;
  height: 3.2rem;
  margin-left: $s-size;
  margin-right: $m-size;
  overflow: hidden;
  position: relative;
  width: 3.2rem;
}

.song-item__middle {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.song-item__right {
  flex: 0 0 5rem;
}

.song-item__menu {
  flex: 0 0 3rem;
  opacity: 0;
}

.index-column {
  align-items: center;
  color: $track-index-color;
  display: flex;
  flex: 0 0 3.2rem;
  height: 3.2rem;
  justify-content: center;
  margin-right: $m-size;
  position: relative;
  overflow: hidden;
}

.song-item:hover .track-number {
  display: none;
}

.song-item__song-name {
  color: $fg-color;
  display: flex;
  flex-basis: 38%;
  margin-right: 2%;

  &.queue {
    flex: 0 0 98%;
  }
}

.song-item__artist-name,
.song-item__album-name {
  color: $fg-color-2;
}

.song-item__artist-name {
  flex-basis: 28%;
  margin-right: 2%;

  &.queue {
    flex: 0 0 auto;
  }
}

.song-item__album-name {
  flex-basis: 28%;
  margin-right: 2%;

  &.queue {
    flex: 0 0 auto;
    max-width: 40%;
  }
}
