.song-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5.6rem;
  border-bottom: 0.5px solid gray;

  &:hover {
    .option {
      opacity: 1;
    }
    background-color: $black-color-0-5;
  }
}

.song-item__left {
  align-items: center;
  display: flex;
  flex-basis: 35%;
}

.song-item__middle {
  align-items: center;
  display: flex;
  flex-basis: 55%;
  justify-content: center;

  :nth-child(1) {
    flex-basis: 45%;
    margin-right: 5%;
  }

  :nth-child(2) {
    flex-basis: 55%;
  }
}

.song-item__right {
  display: flex;
  justify-content: flex-end;
  flex-basis: 10%;
}

.song-item__track-number {
  flex: 0 0 3rem;
  position: relative;
  text-align: center;
}

.track-number__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.option {
  opacity: 0;
}
