.song-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 1px solid $divider-color;

  &:hover {
    .option {
      opacity: 1;
    }
    .track-number {
      opacity: 0;
    }
    background-color: $black-color-0-5;
  }
}

.song-item__left {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  margin-right: 2%;
  max-width: 33%;
}

.song-item__middle {
  align-items: center;
  display: flex;
  flex-basis: 55%;
  justify-content: center;
  max-width: 55%;

  :nth-child(1) {
    flex-basis: 45%;
    margin-right: 5%;
  }

  :nth-child(2) {
    flex-basis: 55%;
  }
}

.song-item__right {
  display: flex;
  justify-content: flex-end;
  flex-basis: 10%;
}

.index-column {
  align-items: center;
  color: $track-index-color;
  display: flex;
  flex: 0 0 3.2rem;
  height: 3.2rem;
  justify-content: center;
  margin-right: $m-size;
  position: relative;
  overflow: hidden;
}

.song-item:hover .track-number {
  display: none;
}

.song-name {
  color: $fg-color;
}

.song-item__artist-name,
.song-item_album-name {
  color: $fg-color-2;
}

.option {
  opacity: 0;
}
