.wrapper {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  height: 6rem;
  // line-height: 6rem;
  transition: background-color 0.25s ease-in-out;

  &.dark-mode {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
  }
}

.unavailable.wrapper {
  color: var(--v-secondaryText-base);
}

.left-items {
  border-radius: 0.2rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
  width: 4rem;
}

.right-items {
  flex-shrink: 0;
}

.middle-items {
  flex-basis: 0;
}

.song-name {
  font-weight: bold;
}

.active .song-name {
  color: var(--v-accent-base);
}

.artist-name,
.album-name {
  color: var(--v-secondaryText-base);
}

.artist-name a,
.album-name a {
  color: var(--v-secondaryText-base);
}

.artist-name:hover,
.album-name:hover {
  color: var(--v-primaryText-base);
  cursor: pointer;
  text-decoration: underline;
}
