@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  animation: spinner 0.6s linear infinite;
  content: '';
  border-radius: 50%;
  border-right: 0.2rem solid transparent;
  border-top: 0.2rem solid $accent-color;
  box-sizing: border-box;
  height: 2rem;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
  position: absolute;
  top: 50%;
  width: 2rem;
}
