* {
  box-sizing: border-box;
  min-width: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  // background: $bg-color;
  color: #e8e8e8;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $regular-font;
  height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
