* {
  box-sizing: border-box;
  min-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--v-primary-base);
  font-family: 'Gentium Book Basic', Helvetica, Arial, sans-serif;
  font-size: $regular-font;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

@supports (scrollbar-color: red blue) {
  html {
    scrollbar-color: var(--v-accent-base) var(--v-primary-lighten3);
    scrollbar-width: thin;
  }
}

@supports not (scrollbar-color: red blue) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--v-accent-base);
  }
}
