.group-control > :not(:first-child) {
  margin-left: 1.6rem;
}

.explitcit-icon {
  margin-left: $s-size;
  flex-shrink: 0;
}

.long-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-spacing {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 $l-size;
}
