.long-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // display: block;
}

.absolute-fit {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.size-fit {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 0% 20%;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-text {
  font-weight: bold;
}

.main-info-text {
  color: var(--v-primaryText-base);
  font-weight: 600;
}

.sub-info-text {
  color: var(--v-secondaryText-base);
}

.link {
  color: var(--v-secondaryText-base);
  text-decoration: none;
}

.link--external {
  color: var(--v-accent-base);
  text-decoration: underline;
}

a.link:hover {
  color: var(--v-primaryText);
  text-decoration: underline;
}

a.link--external:hover {
  color: var(--v-accent-darken1);
}
