// Fonts
$regular-font: 1.6rem;
$large-font: 2.2rem;
$xl-font: 4rem;
$header-font: 3rem;
$header-font-mobile: 2.2rem;

// Components' sizes
$player-bar-height: 9.6rem;
$line-height: 1.8rem;
$sidebar-width: 17rem;
$sidebar-width-collapsed: 6rem;
$header-height: 6rem;

// Break points
$bp-tablet-landscape: 900px;
$bp-phone: 600px;

$card-border-radius: 1rem;
$featured-card-border-radius: 1.5rem;
