// Fonts
$regular-font: 1.6rem;
$large-font: 2.2rem;
$xl-font: 4rem;
$header-font: 3rem;
$header-font-mobile: 2.2rem;

// Components' sizes
$player-bar-height: 9.6rem;
$line-height: 1.8rem;
$sidebar-width: 17rem;
$sidebar-width-collapsed: 6rem;
$header-height: 6rem;

$card-border-radius: 1rem;
$featured-card-border-radius: 1.5rem;

// Vuetify breakpoints
$xl-breakpoint: 1904px;
$xl-max-width: 1785px;

$lg-breakpoint: 1264px;
$lg-max-width: 1185px;

$md-breakpoint: 960px;
$md-max-width: 900px;
